<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.ofytest" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".DriversActivity"
            android:screenOrientation="portrait"
            android:label="Drivers"/>
        <activity android:name=".EventsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".DriverSignupActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RequestsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TrempitActivity"
            android:screenOrientation="portrait"
            android:label="Events" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>



</manifest>
